.movieInfoBox {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    height: 80vh;

margin: 0;
}

.moviePoster {

}

.movieDetails {


}

.movieTitle {

}

.movieOverview {
    padding-right: 20%;
    margin-bottom: 20px;
}
.video{
height: 20vh;

}


