.header {
    height: 20vh;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(25, 152, 133, 0.94);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.darkMode {
    background-color: rgba(3, 60, 101, 0.94)
}

.lightMode {

}

.header form {
    display: flex;
    flex-direction: column-reverse;

    .light {
        color: rgba(3, 60, 101, 0.94);
    }

    .dark {
        color: rgba(84, 124, 239, 0.94);;
    }
}

.headerWrapperBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userBox span {
    margin-left: 5px;
}
