.errorPageBox {
    box-sizing: border-box;
    background-image: url("https://wallpapers.com/images/high/simpsons-background-20u4yr124f77js1m.webp");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding-left: 30px;
    padding-top: 30px;
}

.header {
    margin-bottom: 10px;
}

.errorPageBox img {
    height: 100%;
}

.error {
    font-weight: 600;
}